body {
    background: #f4f6f8;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 1000px;   /* ← INDEX ENI KENGAYDI */
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #555;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 ustun */
    gap: 15px;
}

input {
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input:focus {
    border-color: #4a00e0;
    outline: none;
}

.checkbox {
    grid-column: span 2;
    font-size: 14px;
}

button {
    grid-column: span 2;
    padding: 14px;
    font-size: 18px;
    background: #4a00e0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #3a00b0;
}

#confirmation {
    margin-top: 20px;
    text-align: center;
    color: green;
    font-size: 16px;
}
